{% load tags %}
<h4>Add/Remove/Edit Fields</h4>
<p>
  <div class="btn-group btn-breadcrumb">
    <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
  {% for node in nodes %}
    <a href="#" class="btn btn-default" onclick="layersTable({{ node.pk }})">{% if node|field_type:'Folder' %}<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;{{ node }}{% else %}<span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;{{ node }}{% endif %}</a></li>
  {% endfor %}
  </div>
</p>
<p>
  | <a href="#" onclick="attributesTable({{ layer.pk }})">Back to Attributes Table</a> |
</p>
{% load crispy_forms_tags %}
{% crispy formset helper %}

<div>
  <input class="add-row btn btn-default" type="button" value="Add Attribute">
  <input class="btn btn-primary" type="button" onclick="editField({{ layer.pk }})" value="Submit">
</div>