{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<style>
.loginForm {
    width:400px;
    position:absolute;
    left:50%;
    margin-left:-200px;
}
</style>
<div class="panel panel-default loginForm" style="">
    <div class="panel-heading" style="padding:15px;background-color:#eee;">
      <h4 class="panel-title">Login</h4>
    </div>
    <div class="panel-body">
        <form method="post" class="form-horizontal" action="{% url "django.contrib.auth.views.login" %}?next='/basqui/map'">{% csrf_token %}
            {% if form.errors %}
            <div class="form-group has-error">
                <div class="col-sm-12 text-center">
                    <p class="has-error">Your username and password didn't match.<br>Please try again.</p>
                </div>
            </div>
            {% endif %}
          <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.username.label_tag }}</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="id_username" name="username" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.password.label_tag }}</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-6">
              <button type="submit" value="login" class="btn btn-primary">Sign in</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </div>
          <div class="form-group bg-info">
            <div class="col-sm-offset-1 col-sm-10">
                <a href="{% url "auth_password_reset" %}">Forgot</a> your password? <a href="{% url "registration_register" %}">Need an account</a>?
            </div>
          </div>
        </form>
    </div>
</div>
{% endblock %}
