<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" >
<meta http-equiv="content-type" content="text/html; charset=UTF-8" >
<title>Basqui</title>
<link rel="stylesheet" type="text/css" href="/static/main/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/main/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/static/main/css/table.css" />
<style>
#container {
    width:100%;
    height:500px;
}
#one {
    width:32.5%;
    height:100%;
    float:left;
    border-right: 1px solid gray;
}
#two {
    width:32.5%;
    height: 100%;
    float:left;
    border-right: 1px solid gray;
    margin-left: 1%;
}
#three {
    width:32.5%;
    height: 100%;
    float:left;
    margin-left: 1%;
}
#image {
    bottom: 0;
    position: fixed;
    width: 100%
}
</style>
</head>
<body>
{% include "navHeader.html" %}
<div style="margin-left:20px; margin-top:20px; margin-right: 20px; position:relative;">
  <h1>Basqui 1.0 - Cloud Based Web Mapping GIS</h1><br>
<div id="container">
    <div id="one">
      <h3>Current Functionnalities:</h3>
      <br>
      <ul>
        <li>Import/Export of multiple GIS vector file format such:</li>
        <ul>
          <li>ESRI Shapefile</li>
          <li>MapInfo TAB</li>
          <li>GeoJson</li>
          <li>KML/KMZ</li>
          <li>SQLite/Spatialite</li>
          <li>CSV</li>
        </ul>
        <li>Creation and editing vector features:</li>
        <ul>
          <li>Use of OpenLayers vector tools</li>
        </ul>
        <li>Connect to Web Sercices such:</li>
        <ul>
          <li>WMS</li>
        </ul>
        <li>Handful table attribute speadsheet allowing to:</li>
          <ul>
            <li>Filter and order data</li>
            <li>Edit data</li>
            <li>Manage table schema</li>
            <li>Data validation</li>
          </ul>
        <li>Create tiled maps with:</li>
          <ul>
            <li>Customization of layers styling</li>
            <li>Customization of labeling</li>
            <li>Customization of map options</li>
          </ul>
        <li>Helpful real-time application log system</li>
        <ul></ul>
        <li>Simple and efficient project classifying</li>
      </ul>
    </div>
    <div id="two">
      <h3>Future Functionnalities:</h3>
      <br>
      <ul>
        <li>Support for Raster and DEM files</li>
        <ul>
          <li>2D and 3D rendering in dynamic maps</li>
          <li>Raster calculation</li>
          <li>Some image treatments</li>
        </ul>
        <li>Connect to Web Sercices such:</li>
        <ul>
          <li>WMS</li>
        </ul>
        <li>Implementation of a field calculator:</li>
          <ul>
            <li>Use of mathematical equation</li>
            <li>String operations</li>
            <li>Geographic calculation</li>
          </ul>
        <li>More map options and tools:</li>
          <ul>
            <li>Clustering markers</li>
            <li>Thematic styling</li>
            <li>Popups</li>
            <li>PDF creation</li>
            <li>Attach photos and videos to POI</li>
            <li>Static TopoJSON maps</li>
          </ul>
        <li>Support for Metadata:</li>
          <ul>
            <li>Importing from files</li>
            <li>Editing</li>
            <li>Some automatic updates</li>
            <li>Attach to file when exporting tables</li>
          </ul>
        <li>Creation of plots and graphs</li>
        <ul></ul>
      </ul>
    </div>
    <div id="three">
      <h3>Comments and Requests:</h3>
      <br>
      {{ form.as_p }}
    </div>
  </div>
</div>
<div id="image"><img src="/static/main/img/home.png" width="100%"></div>
</body>
</html>